<div class="container">
  <h1> Tweet your friends their greatest fears!</h1>

  <% if @access_token %>
    <div>
      <p>
        <strong>token:</strong> <%= @access_token.token %><br>
        <strong>secret:</strong> <%= @access_token.secret %><br>
      </p>

      <p>
        <button><a href="/sign_out"> Sign Out </a></button>
        <form id="tweet" method="post" action="tweet">
          <input type="text" name="tweet">
          <input type="text" name="friend">
          <input type="submit" value="tweet"> 
        </form>
      </p>
    </div>
    <% else %>
      <button><a href="/sign_in">Sign in with twitter</a></button>
    <% end %>
</div>
